:root{
    --white: #fff;
    --translucent-white: #d7ccc0;
    --background-light: #f5f4f0;
    --primary: #fe8a02;
    --primary-dark: #42413c;
    --dark: #2a2626;
    --translucent-dark:  #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
    --main-text-color: #2A2626;
}

.trans-white {
    color: var(--translucent-white);
}

.primary-color {
    color: var(--primary);
}

.white-text {
    color: var(--white);
}

.dark-text {
    color: var(--primary-dark);
}