/** CSS STYLE **/
@import url('colors.css');
@import url('fonts.css');


.fs-34 {
    font-size: 34px;
}

.fs-40 {
    font-size: 40px;
}


.fs-52 {
    font-size: 52px;
}

.fs-60 {
    font-size: 60px;
}

.fs-64 {
    font-size: 64px;
}


.fs-72 {
    font-size: 72px;
}

.no-padding {
    padding: 0%;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}


.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pa-24 {
    padding: 24px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.white-text {
    color: var(--white);
}

.space-between {
    justify-content: space-between;
    align-content: space-between;
    
}

.title-font {
    font-family: var(--title-font);
    line-height: var(--title-line-height);
}

.block {
    display: block;
}

body {
    width: 1440px;
    margin: 0 auto;
}

h1, h2, h3 {
    line-height: var(--title-line-height);
    font-family: var(--title-font);
    font-weight: normal;
}

.container {
    width: 1110px;
    margin: 0 auto;
    height: 80%;
    
}



header::before {
    position: absolute;
    display: block;
    content: '';
    background-image: url('../img/image 1.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    width: 100%;
    height: 100%;

}
 
header {
    position: relative;
    background-color: var(--background-light);
    overflow: hidden;
    padding-bottom: 100px;
}

.header-img {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
    background-size: cover;
   
}

h1 {
    position: relative;
    padding-top: 121px;
}

.primary-text-color {
    color: var(--primary);
}

.white-text {
    color: var(--white);
}

.title-container {
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    margin-top: 225px;
}

.title-text {
    margin-right: 30px;
    width: 50%
}

.btn {
    display: block;
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    width: 150px;
    line-height: 50px;
    text-align: center;
}

.btn:hover {
    background-color: #EA7600;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.text-disclaimer {
    display: block;
    text-align: center;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    margin-bottom: 35px;
}

.video-container {
    position: relative;
    height: 380px;

}

.video {
    position: absolute;
    left: 10%;
    bottom: -200px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
   
}

.menu {
    background-color: var(--primary-dark);
    height: 900px;
}

.item {
    width: 27%;
    background-color: var(--background-light);
    padding: 24px;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
}

.item:hover {
    background-color: var(--primary);
    color: var(--white);
}

.item:hover .primary-text-color {
    color: var(--white);
}



.menu-title {
    width: 31%;
}



/* .menu-title {
    font-family: var(--title-font); 
}


.menu-item {
    diplay: block;
    background-color: var(--background-light);
    font-family: var(--main-font);
    width: 300px;
    height: 310px;
    padding: 24px;
}

.number {
    display: block;
    margin-bottom: 40px;
    font-size: 64px;
    font-family: var(--title-font);
    line-height: 1;
}

.menu-item:hover {
    background-color: var(--primary);
    color: var(--white);
}

.menu-item:hover .primary-text {
    color: var(--white);
} */