/** CSS STYLE **/
@import url('colors.css');
@import url('fonts.css');
@import url('atomic.css');





.lh-1_6 {
    line-height: var(--title-line-height);
}


.bold {
    font-weight: bold;
}



/* FLEX */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    flex-basis: 40%;
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
}

.flex-item-title-text {
    padding: 0;
}

.text-container {
  margin-left: -30px;
  margin-right: -30px;
}


body {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}

.h1 {
    font-size: 72px;
    line-height: var(--title-line-height);
    font-family: var(--title-font);
    font-weight: normal;
    
}

.h2 {
    font-size: 60px;
    line-height: var(--title-line-height);
    font-family: var(--title-font);
    font-weight: normal;
    margin: 0;
}

.h3 {
    font-size: 34px;
    line-height: var(--title-line-height);
    font-family: var(--title-font);
}


.container {
    width: 1110px;
    margin: 0 auto;
    position: relative;
      
}

.bg {
    position: relative;
    background-color: var(--background-light);
    z-index: 1;
}

 .bg::before {
    position: absolute;
    top: 0;
    left: 10%;
    
    
    display: block;
    content:  url('../img/background.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
    z-index: -2;
    
} 

/* HEADER */



.header-img {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
    background-size: cover;
    z-index: -1;
}


.btn {
    background-color: var(--primary);
    font-weight: bold;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px; 
  
}

.btn:hover {
    background-color: #EA7600;
    
}

.btn-header {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    width: 150px;
    height: 50px;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

.flex-column > .flex-item {
    width: 100%;
}


/* VIDEO SECTION */

.text-center {
    text-align: center;
}

.video-container {
    position: relative;
    width: 920px;
    height: 570px;
    margin: 0 auto;
 }

.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}


/* MENU SECTION*/

.menu {
    background-color: var(--primary-dark);
    margin-top: -100px;
 }

/* .menu-title {
    flex-basis: 31%;
    padding-left: 20px;
} */

.item-container {
    flex-basis: 30%;
    padding-bottom: 20px;
    padding-right: 30px;

}

.card {
    padding: 24px;
    height: 300px;
    background-color: var(--background-light);
}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%;
}

.card-link:link {
    color: inherit;
}

.card-link:visited {
    text-decoration: none;
    color: var(--main-text-color);
}

.card-number {
    display: block;
    font-size: 64px;
    margin-bottom: 40px;
    font-family: var(--title-font);
    line-height: 1;
}

.card:hover {
    background-color: var(--primary);
    color: var(--white);
}

.card:hover .h3 {
    color: var(--white);
}

.card:hover .card-link {
    color: var(--white);
}


.content-section {
    position: relative;
    height: fit-content;
    overflow: hidden;
    background-color: var(--background-light);

}

.flex-img {
    width: 45%;
    margin-left: 30px;
    margin-right: 30px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.title-text-block {
    width: 45%;
}

.inline-separator {
    width: 100%;
    background-color: var(--brown);
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 1;
    opacity: 100% !important;
}


.dark-bg {
    background-color: var(--brown);
    z-index: 2;
    opacity: 90%;
}

.main-dark-bg {
    background-color: var(--primary-dark);
}


.light-bg {
    position: relative;
    background-color: var(--background-light);
    opacity: 90%;
   
}

.footer-text {
    width: 40%; 
    margin: 50px;
}

.email {
    width: 50%; 
}

.email-input {
    padding: 15px;
    font-size: 18px;
    height: 50px;
    width: 60%;
    font-family: var(--main-font);
    border: none;
    box-sizing: border-box;
    
}


.email-btn {
    position: relative;
    top: 6px;
    left: -4px;
    width: 70px;
    height: 50px;
    background-color: var(--primary);
    border: none;
    margin-right: 75px;
}

.email-btn::before {
    display: block;
    position: absolute;
    top: 15px;
    content: ' ';
    background-image: url("../img/Vector.svg");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;

}
.underline {
    text-decoration: underline;
}

.under-footer {
    font-family: var(--main-font);
    text-align: center;
}